@{
    ViewBag.Title = "Index";
}

@section Title
{
	Help
}

<div class="container">
	<div class="row">
		<div class="span12" style="padding-top: 10px;">

			<p>
				<a href="@Url.Content("~/Content/manual_master_linear.pdf")">Download the User Manual</a>
			</p>
			<br />
			<br />

			<img src="@Url.Content("~/Content/img/quickrefp1.png")" />
			<img src="@Url.Content("~/Content/img/quickrefp2.png")" />

		</div>
	</div>
	<div class="row" style="font-size: 9px; color: #999; text-align: center;">
		<div class="span12"></div>
			<br />
			The Locomotion Network Solver is a student project; Locomotion, Inc. takes no liability for use of this software
			| <a href="email:davis.goodin@gmail.com">Contact Us</a>
			| © 2013 Locomotion, Inc.
		</div>
	</div>
</div>